body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navi {
    background-color: green;
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 10px;
    color: white;
}

.navigations {
    display: flex;
}

.nav-button {
    justify-content: space-around;
    padding: 2px;
    margin: 10px;
}

.site-name {
    padding: 10px;
}

.hero {
    max-width: 100%;
    height: 700px;
    background-image: url("https://i.pinimg.com/1200x/60/9b/9e/609b9e55c51475728f6b8d288fd0d400.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.f-o {
    color: white;
    font-size: xxx-large;
    text-shadow: h-shadow v-shadow;
}

.orderNow-text {
    font-size: large;
}

.orderNow {
    display: flex;
    width: fit-content;
    font-size: large;
    background-color: white;
    color: green;
    border: 2px;
    padding: 10px;
    font-size: x-small;
    border-radius: 10px;
}

.part-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.img1 {
    max-width: 100%;
    height: auto;
    scale: 0.5;
}

.fresh-fruits-text {
    color: green
}
.part-3 {
    display: flex;
    flex-direction: column;
    background-color:chartreuse;
    align-items: center;
    border: 2px;
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    margin-bottom: 50px;
}

.products {
    display: flex;
}

.product {
    height: 200px;
    width: 100px;
    background-color: white;
    /* border: 2px solid black; */
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: green;
    border-radius: 10px;
}

.product-img {
    max-width: 100%;
    /* border: 2px solid black; */
}

.product-img-banana {
    max-width: 100%;
    /* border: 2px solid black; */
    padding: 10px;
}

.order-now {
    justify-content: center;
    border: 2px solid green;
    border-radius: 5px;
    padding: 2px;

}

.part-4{
    width: 100%;
    margin: auto;
    /* border: 2px solid black; */
}

.img-circle {
    padding: 10px;
    /* height: 300px; */
    width: 300px;
    border-radius: 50%;
}

.img-reviewer{
    max-width: 100%;
    height: auto;
    border-radius: 50%;
}

.review {
    display: flex;
    width: 27vw;
    align-items: center;
    background-color: greenyellow;
    /* border: 2px solid black; */
    margin: 5px;
    /* margin-right: 10px; */
    padding: 10px;
    border-radius: 30px;
}

.reviews {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.review-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.customer-review-heading {
    width: max-content;
    margin: auto;
}

.part-5 {
    background-color:forestgreen;
    border: 10px black;
    border-top-right-radius: 600px;
    width: 80%;
    /* padding: 20px; */
    border-bottom-right-radius: 600px;
}

.why-choose-us {
    font-size: xxx-large;
    padding: 10px;
    color: white;
}

.part-5-div1 {
    display: flex;
    align-items: center;
    padding: 20px;
}

.eat-img {
    height: 300px;
    width: 300px;
}

.fruits-why {
    height: 300px;
    width: 300px;
    /* border: 2px solid black; */
}

.why-image {
    max-width: 100%;
    height: auto;
}

.part-5-text {
    font-size: large;
    color: white;
}

.part-6 {
    margin: 20px;
    width: 100%;
    border: 2px solid greenyellow;
    border-top-left-radius: 300px;
    border-bottom-right-radius: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.part-6-images {
    height: 200px;
    width: 200px;
    padding: 3px;
}

.part-6-img {
    max-width: 70%;
    height: auto;
    padding: 30px;
}